.public-page {
  .navbar {
    padding: 0;
  }

  .message {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: white;
    font-family: "Josefin Slab", serif;
    line-height: 27px;
    font-size: 18px;
    text-align: right;
    pointer-events: none;
    animation: message-frames 1.5s ease 5s forwards;
    opacity: 0;

    @keyframes message-frames {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  .footer {
    padding: 10px;
    font-size: 13px;
    color: #636c72;
    text-align: center;
    width: 100%;
  }
}
