@import '../../../node_modules/bootstrap/scss/bootstrap';

body {
  background: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


.question-form {
  max-width: 600px;
  margin: 0 auto 1.5rem;
}


.option-item {
  min-width: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 3px;
  min-height: 40px;
  align-items: center;
  margin: 5px 0 0 0;
  cursor: pointer;
  flex-direction: column;
  position: relative;

  label {
    margin-bottom: 0;
    margin-top: 3px;
    width: 90%;
    text-align: start;
    cursor: pointer;
  }

  input {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: 0;
    cursor: pointer;
  }
}

.form-person {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
