@import '../../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../../node_modules/bootstrap/scss/bootstrap';

body {
  background: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
