.custom-select {
  background-color: $bg-custom-dark;
  background-image: url("data:image/svg+xml,<svg xmlns= 'http://www.w3.org/2000/svg' width= '4' height= '5' viewBox= '0 0 4 5'> <path fill= '%233c484f' d= 'M2 0L0 2h4zm0 5L0 3h4z' /></svg>");
  border: none;
  color: white;

  &:hover, &:focus{
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
