.modal {
  .modal-content {
    padding: 0 10px;
    background: #1b1e3c;
  }

  .modal-body, .modal-header, .modal-footer {
    background: #1b1e3c;
    color: $content-color
  }

  .modal-header {
    border-bottom: 1px solid $bg-custom-dark;

    .close {
      color: white;
    }
  }

  .modal-footer {
    border-top: 1px solid $bg-custom-dark;
  }

  .modal-dialog {
    &.large {
      max-width: 800px;
    }

    &.xx-large {
      @media (min-width: 992px) {
        max-width: 80%;
      }
    }

    &.danger {
      .modal-header {
        .modal-title {
          color: $danger;
          font-weight: 700;
        }

        border-bottom: 1px solid $danger;
      }

      .modal-footer {
        border-top: none;
      }
    }

    &.warning {
      .modal-header {
        .modal-title {
          color: $warning;
          font-weight: 700;
        }

        border-bottom: 1px solid $warning;
      }

      .modal-footer {
        border-top: none;
      }
    }

    &.primary {
      .modal-header {
        .modal-title {
          color: $primary;
          font-weight: 700;
        }

        border-bottom: 1px solid $primary;
      }

      .modal-footer {
        border-top: none;
      }
    }

    &.info {
      .modal-header {
        .modal-title {
          color: $info;
          font-weight: 700;
        }

        border-bottom: 1px solid $info;
      }

      .modal-footer {
        border-top: none;
      }
    }
  }
}
