$primaryColor: #040620;
$borderColor: #1870DC;
.react-select-container {
  &:focus {
    border: none;
    box-shadow: none;
  }

  border: none;

  .react-select__control {
    width: 100%;
    min-height: calc(1.5em + 0.75rem + 2px);
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(244, 244, 245, 0.8);
    background-color: $primaryColor;
    background-clip: padding-box;
    border: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;

    &.react-select__control--is-disabled {
      background-color: #495057;
      cursor: not-allowed;
    }

    &:focus, &:hover {
      border: none !important;
      box-shadow: none;
    }

    .react-select__indicator, .react-select__dropdown-indicator {
      color: #3c484f;

      &:hover {
        color: #e9ecef;
      }
    }

    &.react-select__control--is-focused {
      .react-select__indicator, .react-select__dropdown-indicator {
        color: #798892;

        &:hover {
          color: #e9ecef;
        }
      }
    }
  }

  &.react-select-tagging {
    .react-select__control {
      padding: .108rem .75rem;
    }
  }
  .react-select__menu {
    background-color: $primaryColor;
    border: 1px solid $borderColor;
    z-index: 5;
    -webkit-box-shadow: 5px 5px 3px 1px rgba(24, 112, 220, 0.15);
    box-shadow: 5px 5px 3px 1px rgba(24, 112, 220, 0.15);
  }

  .react-select__value-container {

    .react-select__multi-value {
      /*background-color: $borderColor;
      color: white;

      > .react-select__multi-value__label {
        color: white;
      }*/
    }

    > * {
      color: #495057;
    }


    &.react-select__value-container--has-value {
      .react-select__single-value {
        color: white !important;
      }
    }
  }
}

.input-group > .react-select-container {
  position: relative;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  min-width: 0;
  margin-bottom: 0;

  &:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none !important;

    .react-select__control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
