table {
  tr {
    th {
      &.sorting {
        padding-right: 24px;
      }
    }

    th, td {
      &.min {
        white-space: nowrap;
        width: 1px;
      }

      &.action {
        white-space: nowrap;
        width: 1px;
        text-align: center;
      }
    }
  }

  &.summary {
    tr {
      td {
        padding: 2px;
      }

      td:last-child {
        font-weight: bold;
      }
    }
  }
}
