.upload-zone-wrapper {
  transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.15s;
  background: #040620;
  padding: .5rem .75rem;
  cursor: pointer;
  border-radius: 0.25rem;

  .upload-zone {
    padding: 0.5rem;
    color: #495057;

    p {
      margin-bottom: 0;
    }
  }

  &:focus {
    border: none;
    outline: none;
  }

  div[role=button] {
    outline: none;
  }

  .btn-group-sm > .btn {
    padding: 0.2rem 0.4rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }
}

.preview-image {
  position: relative;
  margin: 4px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  padding: 4px;


  div.title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  div.thumbnail {
    height: 100%;
    width: 100%;

    svg, img {
      height: 100%;
      width: 100%
    }
  }

  .view {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    border-radius: 50%;

    &:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
      opacity: 1;
      color: white;
    }
  }

  .close {
    display: block;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: #F45722;
    text-align: center;
    border-radius: 50%;
    opacity: 0.75;
    text-shadow: none;
    color: white;

    &:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
      opacity: 1;
      color: white;
    }
  }

  .btn {
    opacity: 0.4;
  }

  &:hover {
    .btn {
      // display: block;
      opacity: 1;
    }
  }
}

.tooltip-purple .tooltip-inner {
  background-color: #5b2da3;
}

.tooltip-purple .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
  border-bottom-color: #5b2da3 !important;
}

.tooltip-purple .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: #5b2da3 !important;
}

.tooltip-purple .bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
  border-left-color: #5b2da3 !important;
}

.tooltip-purple .bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
  border-right-color: #5b2da3 !important;
}
