.asset-list-item {
  cursor: pointer;

  .thumbnail {
    height: 32px;
    padding: 0.2rem;
    margin: 0.2rem;
    border: 1px solid #cccccc;
    border-radius: 4px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    svg {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
