.asset-browser-wrapper {
  min-height: 400px;
  padding: 0;


  .asset-browser-header-wrapper {
    margin-bottom: 1em;
    padding: 10px;
    background: transparent;

    .asset-browser-header {
      padding: 1em;
      background-color: #663399;
      border-radius: 4px;
    }
  }

  .asset-browser-body {
    .heading {
      font-size: 1.2rem;
      font-weight: bold;
    }

    padding: 1em;
  }

  .breadcrumb {
    margin-bottom: 0;

    .breadcrumb-item {
      cursor: pointer;
      text-decoration-line: underline;
      font-size: 0.8rem;

      &.active {
        cursor: default;
        text-decoration-line: none;
      }
    }
  }

}
