.form-register {
  padding: 0;

  .banner {
    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
      height: 172px;
      object-fit: cover;
    }
  }

  .introduction {
  }

  .form-register-body {
    padding: 20px
  }
}
