.wrapper {
  .filter {
    margin-bottom: 10px;
  }

  table {
    thead {
      tr {
        th.sorting {
          position: relative;
          cursor: pointer;

          &:after {
            font: normal normal normal 14px FontAwesome; // shortening font declaration
            font-size: inherit; // can't have font-size inherit on line above, so need to override
            text-rendering: auto; // optimizelegibility throws things off #1094
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            right: 4px;
            content: "\f0dc";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }

          &.asc:after {
            content: "\f15d";
          }

          &.desc:after {
            content: "\f15e";
          }
        }

      }
    }
  }

  .pagination {
    margin-bottom: 0;
  }
}
